<div class="DeckTracker">
  <div class="DeckTracker-header row"
       ng-class="'DeckTracker-header--' + deckClass.toLowerCase()">
    <div class="DeckTracker-back" ng-click="back()">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </div>
    <div class="DeckTracker-title">
      {{ title }} ({{ deck.length }})
    </div>
    <div class="DeckTracker-home" ng-click="home()">
      <i class="glyphicon glyphicon-home"></i>
    </div>
  </div>
  <div class="DeckTracker-card row" ng-repeat="card in displayDeck | orderBy: ['cost', 'name']"
       ng-class="{'DeckTracker-card--zero': card.qty === 0,
                  'DeckTracker-card--inHand': isInHand(card) }">
    <div class="ManaCrystal col-xs-2">
      <div class="ManaCrystal-top"></div>
      <div class="ManaCrystal-cost">
        {{ card.cost }}
      </div>
      <div class="ManaCrystal-bottom"></div>
    </div>
    <div class="DeckTracker-cardName col-xs-7">
      {{ card.name }}
    </div>
    <div class="DeckTracker-cardProbability col-xs-2">
      {{ card.qty / deck.length * 100 | number: 2 }}%
    </div>
    <div class="DeckTracker-cardQuantity col-xs-1">
      {{ card.qty }}
    </div>
  </div>
</div>
