.DeckTracker {
  padding: 0 15px;
}

.DeckTracker-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  z-index: 99;
}

.DeckTracker-header--druid {
  background-color: #ff7d0A;
}

.DeckTracker-header--hunter {
  background-color: #abd473;
}

.DeckTracker-header--mage {
  background-color: #69ccf0;
}

.DeckTracker-header--paladin {
  background-color: #f58cba;
}

.DeckTracker-header--priest {
  color: #333;
  background-color: #fff;
}

.DeckTracker-header--rogue {
  background-color: #fff569;
}

.DeckTracker-header--shaman {
  background-color: #0070de;
}

.DeckTracker-header--warlock {
  background-color: #9482c9;
}

.DeckTracker-header--warrior {
  background-color: #c79c6e;
}

.DeckTracker-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.DeckTracker-back {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 18px;
  color: #fff;
}

.DeckTracker-home {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px;
  color: #fff;
}

.DeckTracker-card {
  background: #f0f8ff;
}

.DeckTracker-card--zero {
  background: #e0e0e0
}

.DeckTracker-card--inHand {
  color: #009900;
}

.DeckTracker-title,
.DeckTracker-card,
.DeckTracker-cardName,
.DeckTracker-cardProbability,
.DeckTracker-cardQuantity {
  padding: 5px 0;
}

.DeckTracker-cardQuantity {
  font-weight: bold;
}

.ManaCrystal {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ManaCrystal-top {
  width: 30px;
  height: 13px;
  border-bottom: 13px solid #2e529b;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

}

.ManaCrystal-cost {
  position: absolute;
  top: 6px;
  left: 26px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.ManaCrystal-bottom {
  width: 30px;
  height: 13px;
  border-top: 13px solid #2e529b;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
