.DeckTracker {
  padding: 0 15px;
}

.DeckTracker-title {
  text-align: center;
  background-color: #2e529b;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.DeckTracker-back {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 18px;
  color: #fff;
}

.DeckTracker-home {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px;
  color: #fff;
}

.DeckTracker-card {
  background: #f0f8ff;
}

.DeckTracker-card--zero {
  background: #e0e0e0
}

.DeckTracker-card--inHand {
  color: #009900;
}

.DeckTracker-title,
.DeckTracker-card,
.DeckTracker-cardName,
.DeckTracker-cardProbability,
.DeckTracker-cardQuantity {
  padding: 5px 0;
}

.DeckTracker-cardQuantity {
  text-align: center;
}

.Hexagon-top {
  width: 0;
  border-bottom: 7px solid #2e529b;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.Hexagon-middle {
  width: 26px;
  height: 16px;
  background-color: #2e529b;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.Hexagon-bottom {
  width: 0;
  border-top: 7px solid #2e529b;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
