<div class="Home">
  <div class="Home-menu row">
    <a class="Home-menuItem col-xs-12" ui-sref="deck-picker">
      <button type='button' class="btn btn-lg btn-primary btn-block">
        <i class="Home-menuItemIcon glyphicon glyphicon-star"></i>
        <span class="Home-menuItemText">Choose an existing deck</span>
      </button>
    </a>
    <a class="Home-menuItem col-xs-12" ui-sref="deck-builder.import">

      <button type='button' class="btn btn-lg btn-primary btn-block">
        <i class="Home-menuItemIcon glyphicon glyphicon-link"></i>
        <span class="Home-menuItemText">Import a deck</span>
      </button>
    </a>
    <a class="Home-menuItem col-xs-12" ui-sref="deck-builder.build">
      <button type='button' class="btn btn-lg btn-primary btn-block">
        <i class="Home-menuItemIcon glyphicon glyphicon-plus"></i>
        <span class="Home-menuItemText">Build a new deck</span>
      </button>
    </a>
  </div>

</div>
