<div class="Home">
  <div class="Home-menu row">
    <a class="Home-menuItem col-xs-12" ui-sref="deck-picker">
      <i class="Home-menuItemIcon glyphicon glyphicon-star"></i>
      <span class="Home-menuItemText">Choose an existing deck</span>
    </a>
    <a class="Home-menuItem col-xs-12" ui-sref="deck-builder.import">
      <i class="Home-menuItemIcon glyphicon glyphicon-link"></i>
      <span class="Home-menuItemText">Import a deck</span>
    </a>
    <a class="Home-menuItem col-xs-12" ui-sref="deck-builder.build">
      <i class="Home-menuItemIcon glyphicon glyphicon-plus"></i>
      <span class="Home-menuItemText">Build a new deck</span>
    </a>
  </div>

</div>
